@import "../../sass/variables";
@import "../../sass/mixins";
@import "../../sass/custom";

.SnippetsPanel {
	width: 100%;
	min-width: 100%;
	max-width: 100%;
	height: 100vh;
	padding: 1.5rem 2rem;
	// background-color: var(--bg-main-panel);
}

@media only screen and (max-width: 700px) {
	.SnippetsPanel {
		padding: 1.8rem 0.5rem;
	}
}
