@import "../../sass/variables";
@import "../../sass/mixins";
@import "../../sass/custom";

.LoginForm {
	width: 100%;
	max-width: 60rem;
	height: auto;
	display: block;
	margin: 0 auto;
	padding: 2rem 4rem;
	padding-bottom: 6rem;
	border-radius: 1rem;
	&_title {
		margin: 2rem 0;
		font-size: 2rem;
		font-weight: 700;
		color: var(--blueGrey500);
	}
	&_field {
		margin: 2rem 0;

		&_inner {
			@include fill_container;
			@include flex_row(space-between, center);
		}
		&_signup {
			width: 100%;
			@include flex_row(center, center);
			font-size: 1.3rem;
			color: var(--accent);
			& > div {
				margin-right: 0.3rem;
				font-size: 1.3rem;
			}
		}
	}
}

.ForgotPassword {
	font-size: 1.3rem;
	color: var(--accent);
}
.Signup {
	font-size: 1.3rem;
	color: var(--accent);
}

@media only screen and (max-width: 1000px) {
	.LoginForm {
		max-width: 90vw;
		padding: 2rem 1rem;
	}
}

@media only screen and (max-width: 750px) {
	.LoginForm {
		padding: 2rem 2rem;

		&_field_inner {
			flex-wrap: wrap;
			gap: 0.5rem 0;
		}
	}
}
