@import "../../sass/variables";
@import "../../sass/mixins";
@import "../../sass/custom";

.MobileListsPanel {
	position: absolute;
	top: 0;
	left: 0;
	width: 20rem;
	min-width: 20rem;
	height: calc(100vh - 5rem);
	background-color: var(--bg-main-panel);
	transition: all 0.5s ease-in-out;

	&_lists {
		width: 100%;
		height: 100%;
		overflow-y: auto;
		color: var(--text-main);
		padding: 6rem 2rem;
		@include flex_col(flex-start, flex-start);
		gap: 2rem 0;
	}

	// hide inner content when collapsed
	[data-mobilecollapsed="true"] &_lists {
		display: none;
	}
}

.MobilePanelToggle {
	position: absolute;
	top: 2rem;
	left: 1rem;
	width: 2.5rem;
	height: 2.5rem;
	border-radius: 50%;
	background-color: var(--accent-bg);
	border: none;
	outline: none;
	box-shadow: var(--shadow-subtle);
	@include flex_row(center, center);
	z-index: 10;
	&:hover {
		cursor: pointer;
		background-color: var(--accent-bg);
	}

	&_icon {
		width: 2rem;
		height: 2rem;
		fill: #000;
	}
}

.MobileListsPanel[data-mobilecollapsed="true"] {
	width: 0;
	min-width: 0;
	max-width: 0;
	transition: all 0.5s ease-in-out;
}
