@import "../../sass/variables";
@import "../../sass/mixins";
@import "../../sass/custom";

.PasswordInput {
	width: 100%;
	height: auto;
	border-radius: 0.5rem;

	&_label {
		font-size: 1.5rem;
		font-weight: 500;
		color: var(--blueGrey400);
	}
	&_inputWrapper {
		position: relative;
		width: 100%;
		height: 3.5rem;
		border-radius: 0.5rem;

		&_input {
			@include fill_container;
			background-color: var(--bg-main);
			padding-left: 0.5rem;
			border: 1px solid var(--border);
			outline: none;
			border-radius: 0.5rem;
			font-size: 1.6rem;
			font-weight: 500;
			color: var(--text-input);
			&:disabled {
				opacity: 0.4;
				cursor: not-allowed;
			}
			&:hover {
				cursor: pointer;
				box-shadow: var(--main-outline);
			}
		}
		[aria-invalid="true"],
		[data-invalid="true"] {
			box-shadow: var(--red-outline);
		}

		&_icon {
			position: absolute;
			top: calc(3.5rem - 67%);
			right: 0.5rem;
			width: 1.6rem;
			height: 1.6rem;
			fill: var(--blueGrey400);
			&:hover {
				cursor: pointer;
				fill: var(--blueGrey600);
			}
		}
	}
}

input[type="password"] {
	letter-spacing: 0.1rem;
}
