@import "../../sass/variables";
@import "../../sass/mixins";
@import "../../sass/custom";

.Selector {
	position: relative;
	width: 100%;
	height: 3.5rem;
	border-radius: 0.5rem;

	&_input {
		background-color: var(--bg-foreground);
		@include fill_container;
		@include flex_row(space-between, center);
		padding: 0.2rem 0.5rem;
		border-radius: 0.5rem;
		border: 1px solid var(--border);
		outline: none;
		color: var(--text-main);
		&:hover {
			cursor: pointer;
		}
		& span {
			font-size: 1.4rem;
		}

		&_icon {
			width: 1.5rem;
			height: 1.5rem;
			fill: var(--icon-color);
		}
	}
}

[data-placeholder="true"] {
	color: var(--blueGrey700);
	// opacity:
}
[data-placeholder="false"] {
	color: var(--text-main);
}

.SelectorOptions {
	position: absolute;
	width: 100%;
	height: auto;
	min-height: max-content;
	max-height: 25rem;
	top: 3.5rem;
	left: 0;
	border-radius: 0.5rem;
	background-color: var(--bg-foreground);
	background-color: var(--bg-focus);
	z-index: 10;

	&_list {
		width: 100%;
		height: 100%;
		overflow-y: auto;
		list-style: none;
	}
}

.Option {
	width: 100%;
	padding: 0.3rem 1rem;
	@include flex_row(space-between, center);
	&:hover {
		background-color: var(--accent-bg);
		cursor: pointer;
	}
	&:hover &_value {
		color: var(--accent);
	}

	&_value {
		font-size: 1.5rem;
		color: var(--text-main);
	}

	&_isSelected {
		width: 1.5rem;
		height: 1.5rem;
		fill: var(--accent);
	}
}

.Option[data-selected="true"] {
	background-color: var(--accent-bg);
	& > div {
		color: var(--accent);
	}
}
