@import "../../sass/variables";
@import "../../sass/mixins";
@import "../../sass/custom";

.DashboardTags {
	@include fill_container;
	padding: 4rem 2rem;
	color: var(--text-main);
	font-size: 2rem;
}
